@font-face {
    font-family: leporsche;
    src: url(/LEPORSCHE.otf);
  }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*.color1 { #a22c27 };
.color2 { #4f2621 };
.color3 { #9f8241 };
.color4 { #ebd592 };
.color5 { #929867 };*/
:root{
    font-size: 10px;
}
#page{
    
    max-width: 69.0rem;
    
    margin: 0 auto;
    
    background-color:#ffffff;
}
body,p, .clientes{
    font-family: 'Open Sans', sans-serif;
}
header{   
    background-color: #bcc5b6;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 5px 0 5px;
}
header img{
    
    max-width: 25rem;
    height: auto;
    
    margin: 3.5rem auto;
    
}
header nav{
    max-width: 37.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
    
    
    font-size: 1.5rem;
    line-height: 3.2rem;
    letter-spacing: -1px;
    
    margin-bottom: 2.5rem;
    
}

header a + a{

    border-left: 0.25px solid #603524 ;
    padding: 0.9rem;
      
}
.home{
    margin-right: 0.8rem;
}

header a{

    display: flex;
    align-items: center; 
    

    
    color: #ffffff;
    text-decoration: none;
    font-family:Leporsche, sans-serif;
    
}
header a:hover{

    color: #b46444;
    font-weight: bold;
}
main{
    max-width: 37.5rem; ;
    
    margin:  2.5rem auto;
    padding: 1rem;
}
section{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;


}
.decoracao-fundo{
    
    position: absolute;
    z-index: 0;
    width: 21rem;
    height: 30rem;

    background-color: rgba(115,129,123,0.40);
    
    border-radius: 10rem 80rem 60rem 25rem;
    
    margin-left: 5.18rem;

}
section > img{
    width: 20.0rem;
    border-radius: 155px 25px 155px 9px;

    margin-bottom: 2rem;
}

.texto-principal{
    
    width: 28.0rem;

    display: flex;
    flex-direction: column;
    
}
section h1{
    
    color: #b46444;

    font-family:Leporsche, sans-serif;
    font-size: 3.8rem;
    line-height: 3.8rem;
    margin-bottom: 1.2rem;


}
.sub-titulo{

    color: #0c0908;

    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4rem;
    
    margin-bottom: 2.8rem;
}

.descricao-raysa {
    max-width: 32rem;
    
    font-size: 1.6rem;
    text-align: left;
    
    color: #9e9d9d;
}
.clientes-1-box {
    max-width: 30.5rem;
    margin:3rem 0.5rem 5rem 0.5rem; 
}
.clientes-2-box, .clientes-3-box{
    margin-top: 3rem 0.5rem;

}
section .cliente-1, .cliente-2, .cliente-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    width: 28.6rem;
    height: 35rem;
    padding: 1rem 0 0 1rem ;

    box-shadow: 8px 2px 10px 5px rgba(115,129,123,0.40);
}
.cliente-img{
    
    width: 12.0rem;
    height: auto;

    margin: 1rem;

    border-radius: 90%;
    box-shadow: 8px 2px 8px 5px rgba(115,129,123,0.40);
}

section h2{

    font-family:Leporsche, sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 4.0rem;

    color:#b46444;

}
section .subtitulo-cliente {

    max-width: 12rem;
    color: #0c0908;

    font-size: 1.8rem;
    font-weight:400;
    line-height: 1.5rem;
    

    margin-bottom: 2.5rem;

}
.comentario-cliente {
    max-width: 29rem;

    font-size: 1.3rem;
    text-align: left;

    color: #888787;

    margin-right: 1px;
}